p {
  text-align: center;
  color: Red;
}

h1 {
  text-align: center;
  color: #000080;
}

h2 {
  text-align: center;
  color: #000080;
}

h3 {
  text-align: center;
  color: #000080;
}

.button {
  padding: 14px 40px;
  font-size: 20;
  background-color: gold;
  color: red;
  border: 8px solid #000080;
}
