/* Homepage */

.button {
  background-color: #333333;
   border: none;
   color: lightgray;
   padding: 20px 40px;
   border: 3px solid #333333;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-family: sans-serif;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.3s;
   cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #333333;
}

div {
  max-width: 500px;
  height: 100px;
  background-color: lightgray;
}
/* Quote Page */

button[type=button] {
  background-color: #333333;
   border: none;
   color: lightgray;
   padding: 20px 40px;
   border: 3px solid #333333;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-family: sans-serif;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.3s;
   cursor: pointer;
}

button[type=button]:hover {
  background-color: white;
  color: #333333;
}

input[type=text] {
  width: auto;
  padding: 10px 10px;
  border: 3px solid #333333;
  font-family: sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  box-sizing: content-box;
}

/* Showcase Page */

/*
#inputBox {
  background-color: #333333;
  color: lightgray;
  border: 3px solid #333333;
} */
